@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-primary: #155dfc;
  --color-background: #eeeeee;
  --color-text: #111827;
}

html.dark {
  --color-primary: #3b82f6;
  --color-background: #1c1917;
  --color-text: #f3f4f6;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  transition: background-color 300ms, color 300ms;
  font-family: Be Vietnam Pro, sans-serif;
}

button, [role="button"], input[type="checkbox"] {
  cursor: pointer;
}